<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=sjkpfileshare;AccountKey=V+xVf/COn5o2Ly9EDBf+1QLDxHn4PVOM5SnNlbzaj+fk1owkkDt8HgaefKlXht2vGJJAHVvxIDR2ExUG7q1WOQ==" />
  </appSettings>
</configuration>